.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.89);
  z-index: 3;
}

.nav-header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.nav-toggle {
  font-size: 2rem;
  background: transparent;
  border: transparent;
  color: #fff;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.nav-list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

/* just for testing.. */
/* .show-list {
  height: 10rem;
} */

.nav-list li {
  padding: 0.5rem;
}

.nav-list a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: all 0.5s linear;
  border-bottom: 2px solid transparent;
  padding: 0.75rem;
  font-size: 1rem;
}
.nav-list a:hover {
  background: rgba(22, 231, 238, 0.904);
  color: #222;
}

@media screen and (min-width: 992px) {
  .nav {
    background: rgba(51, 51, 51, 0.753);
  }
  .nav-toggle {
    display: none;
  }

  .nav-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header {
    display: block;
    padding: 0;
  }

  .nav-list {
    height: auto !important;
  }
  .nav-list ul {
    display: flex;
    padding: 1rem;
  }

  .nav-list li {
    padding: 0 0.25rem;
  }

  .nav-list a {
    padding: 0.5rem;
    font-weight: normal;
    padding-bottom: 0.5rem;
  }
  .nav-list a:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
}
