.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(51, 51, 51, 0.753);
}

.nav-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.nav-header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.nav-toggle {
  font-size: 2rem;
  background: transparent;
  border: transparent;
  color: #fff;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav {
    background: rgba(51, 51, 51, 0.753);
  }
  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header {
    display: block;
  }

  /* nav-list */
  .nav-list {
    display: flex;
  }

  .nav-list li {
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
  }

  .nav-list a {
    margin: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    transition: all 0.5s linear;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5rem;
  }
  .nav-list a:hover {
    border-bottom: 2px solid #fff;
  }
}
